<footer class="bg-gray-100 mt-20 text-sm text-gray-700">

  <div class="max-w-7xl mx-auto px-6 py-12 grid md:grid-cols-4 gap-10">

    <!-- Shop -->
    <div>
      <h3 class="font-semibold mb-4">Shop by</h3>
      <ul class="space-y-2">
        <li>New</li>
        <li>Spring</li>
        <li>Women</li>
        <li>Men</li>
        <li>Jeans</li>
        <li>Clearance</li>
      </ul>
    </div>

    <!-- Corporate -->
    <div>
      <h3 class="font-semibold mb-4">Corporate Info</h3>
      <ul class="space-y-2">
        <li>About American Eagle</li>
        <li>Delivery Information</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
        <li>Returns & Refunds</li>
      </ul>
    </div>

    <!-- Customer -->
    <div>
      <h3 class="font-semibold mb-4">Customer Service</h3>
      <ul class="space-y-2">
        <li>Help Center</li>
        <li>Connect Via WhatsApp</li>
        <li>Stores</li>
        <li>Sitemap</li>
        <li>eGift Card</li>
      </ul>
    </div>

    <!-- Newsletter -->
    <div>
      <p class="mb-4">
        Get exclusive offers and style tips.
      </p>

      <div class="flex">
        <input
          class="border px-3 py-2 w-full"
          placeholder="Enter your email address"
        />
        <button
          class="bg-black text-white px-5 ml-2 rounded-full">
          Sign up
        </button>
      </div>

      <p class="mt-6 mb-2">Follow us</p>

      <div class="flex gap-4 text-xl">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>

  </div>

  <!-- Bottom -->
  <div class="border-t py-6 text-center text-xs">
    © AEO Management Co. All Rights Reserved 2026
  </div>

</footer>